/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

#content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-image: url('https://d1xt9s86fx9r45.cloudfront.net/assets/v3/backgrounds/quiz-flow-large-opt-dark-a3383442c0248db856324a38839e354a01a7597662fa78065ebd48ad49c9fec1.jpg');
}

.top-nav {
  padding: 20px;
}



/*
*/
