.content {
  color: #444;
  margin: 0 auto;
  margin-top: 80px;
  width: 900px;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
}

fieldset {
  border: none;
}

h1 {
  color: #639bc0;
}

h3 {
  text-decoration: underline;
}

header {

  h1 {
    text-align: center;
    position: relative;
    margin-top: 0;
  }
}

main {

}

footer {
  text-align: center;
  width: 100%;
}
