<!DOCTYPE html>
<html>
  <head>
    <title>Find An Agent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content-wrapper">
      <div class="top-nav">
        <img src="https://d1xt9s86fx9r45.cloudfront.net/assets/v3/logo-white-08287eb42121ff790af9b7b004e4aa25c91e5301159cd108de92cf8bee5adab3.png" >
      </div>

      <%= yield %>
    </div>
  </body>
</html>
